# Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates
ipch/
*.aps
*.ncb
*.opt
*.plg
*.bkp
*.scc
*_i.c
*_p.c
*.ilk
*.exp
*.lib
*.pdb
*.dll
*.exe
*.obj
*.log
*.sdf
*.suo
*.user
[Dd]ebug/
[Rr]elease/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/
