body {
    background-color: #6eeeff; /* Светло-голубой фон */
    color: #ba00db; /* Темный цвет текста */
}

.file-container {
    border: none;
    padding: 10px;
    margin: 10px;
    width: 300px; 
    display:block; 
}
.file-container img, .file-container video {
    max-width: 100%;
    height: auto;
}
.file-container h2 {
    font-size: 1.2em;
    margin-bottom: 10px;
}