<h2>Добавить контакт</h2>
<form id="addForm">
    <label>Имя:</label><br>
    <input type="text" name="name"><br>
    <label>Телефон:</label><br>
    <input type="text" name="phone"><br>
    <button type="submit" class="btn">Добавить</button>
    <button type="button" class="btn" onclick="navigate('/')">Отказаться</button>
</form>